<!-- Shop Start -->
<div class="w-full h-full flex flex-col bg-teal-300">
  <div class="flex flex-row border-black px-5">
    <!-- Shop Sidebar Start -->
    <div class="flex flex-col w-1/6 bg-pink-200 pl-1 -pr-1">
      <form [formGroup]="filters">
        <!-- Price Start -->
        <div class="mb-4 pb-4">
          <h5>Filter by category</h5>
          <div formGroupName="prices">
            <div class="items-center justify-between mb-3">
              <mat-checkbox
                id="priceAll"
                formControlName="priceAll"
                [checked]="allPricesComplete"
                [indeterminate]="somePricesComplete()"
                (change)="setAllPrices($event.checked)"
              ></mat-checkbox>
              <mat-label for="priceAll">All Price</mat-label>
            </div>
            <div class="items-center justify-between mb-3">
              <mat-checkbox
                id="price1"
                formControlName="price1"
                (ngModelChange)="updateAllPricesComplete()"
              ></mat-checkbox>
              <mat-label for="price1">0€-1€</mat-label>
            </div>

            <div class="items-center justify-between mb-3">
              <mat-checkbox
                id="price5"
                formControlName="price5"
                (ngModelChange)="updateAllPricesComplete()"
              ></mat-checkbox>
              <mat-label for="price5">1€-5€</mat-label>
            </div>

            <div class="items-center justify-between mb-3">
              <mat-checkbox
                id="price10"
                formControlName="price10"
                (ngModelChange)="updateAllPricesComplete()"
              ></mat-checkbox>
              <mat-label for="price10">10€-50€</mat-label>
            </div>

            <div class="items-center justify-between mb-3">
              <mat-checkbox
                id="priceHigh"
                formControlName="priceHigh"
                (ngModelChange)="updateAllPricesComplete()"
              ></mat-checkbox>
              <mat-label for="priceHigh">>50€</mat-label>
            </div>
          </div>
        </div>
        <!-- Price End -->

        <!-- Category Start -->
        <div class="border-black mb-4 pb-4">
          <h5>Filter by Category</h5>
          <div formGroupName="categories">
            <div class="items-center justify-between mb-3">
              <mat-checkbox
                id="categoryAll"
                formControlName="categoryAll"
                [checked]="allCategoriesComplete"
                [indeterminate]="someCategoriesComplete()"
                (change)="setAllCategories($event.checked)"
              ></mat-checkbox>
              <mat-label for="categoryAll">All Categories</mat-label>
            </div>
            <div class="items-center justify-between mb-3">
              <mat-checkbox
                id="productosFrescos"
                formControlName="productosFrescos"
                (ngModelChange)="updateAllCategoriesComplete()"
              ></mat-checkbox>
              <mat-label for="productosFrescos">Productos frescos</mat-label>
            </div>
            <div class="items-center justify-between mb-3">
              <mat-checkbox
                id="conservas"
                formControlName="conservas"
                (ngModelChange)="updateAllCategoriesComplete()"
              ></mat-checkbox>
              <mat-label for="conservas">Conservas</mat-label>
            </div>
            <div class="items-center justify-between mb-3">
              <mat-checkbox
                id="refrescos"
                formControlName="refrescos"
                (ngModelChange)="updateAllCategoriesComplete()"
              ></mat-checkbox>
              <mat-label for="refrescos">Refrescos</mat-label>
            </div>
            <div class="items-center justify-between mb-3">
              <mat-checkbox
                id="farmacia"
                formControlName="farmacia"
                (ngModelChange)="updateAllCategoriesComplete()"
              ></mat-checkbox>
              <mat-label for="farmacia">Farmacia</mat-label>
            </div>
            <div class="items-center justify-between mb-3">
              <mat-checkbox
                id="perfumes"
                formControlName="perfumes"
                (ngModelChange)="updateAllCategoriesComplete()"
              ></mat-checkbox>
              <mat-label for="perfumes">Perfumes</mat-label>
            </div>
            <div class="items-center justify-between mb-3">
              <mat-checkbox
                id="higiene"
                formControlName="higiene"
                (ngModelChange)="updateAllCategoriesComplete()"
              ></mat-checkbox>
              <mat-label for="higiene">Higiene</mat-label>
            </div>
            <div class="items-center justify-between mb-3">
              <mat-checkbox
                id="limpieza"
                formControlName="limpieza"
                (ngModelChange)="updateAllCategoriesComplete()"
              ></mat-checkbox>
              <mat-label for="limpieza">Limpieza</mat-label>
            </div>
          </div>
        </div>
        <!-- Category End -->

        <!-- Offers Start -->
        <div class="border-bottom mb-4 pb-4">
          <h5>Filter by Offers</h5>
          <div class="items-center justify-between mb-3">
            <mat-checkbox
              id="offersOnly"
              formControlName="offersAll"
            ></mat-checkbox>
            <mat-label for="offersOnly">Only Offers</mat-label>
          </div>
        </div>
        <!-- Offers End -->
      </form>
    </div>
    <!-- Shop Sidebar End -->

    <!-- Shop Product Start -->
    <div class="flex flex-col w-full">
      <div class="flex flex-row w-full p-3 justify-start items-center">
        <mat-form-field class="example-form-field" appearance="fill">
          <input matInput type="text" [(ngModel)]="searchName" />
          <button matSuffix mat-icon-button (click)="search()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <div class="justify-between items-center">
          <mat-radio-group [(ngModel)]="sort">
            <mat-radio-button class="p-2" value="asc">Precio más bajo</mat-radio-button>
            <mat-radio-button class="p-2" value="desc">Precio más alto</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="flex flex-wrap">
        <ng-template ngFor let-item [ngForOf]="items">
          <app-item-card class="p-1" [item]="item">
          </app-item-card>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- Shop Product End -->
</div>
<!-- Shop End -->
